/* GLOBAL */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}   
html {
    scroll-behavior: smooth;
}           
.container {
    width: 90%;
    height: auto;
    margin: auto;
}  
.title_msg {
    font-size: 32px;
    font-weight: 30;
    margin: 0;
}        
span {
    color: #00b0f0;
}  
.description {
    font-size: 18px;
    max-width: 800px;
}
.description p {
    text-align: center;
}         
.icon {
    margin-right: 10px;
}
/* FIM DO GLOBAL */
/* HEADER */ 
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #07BEB8;
    /*border-bottom: 3px solid tomato;*/
}         
.header .nav .current a,
.header span {
    color: tomato;
}        
.header .container {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
}  
.logo-header img {
    width: 100px;
    height: 90px;
    margin-top: 50px;
    border: 1px solid #07BEB8;
    border-radius: 50%;
}
.nav {
    float: right;
}
.nav a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}    
.nav li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}
/* FIM DO HEADER */
/* INICIO DA SECTION_WELCOME */   
.section_welcome {
    display: flex;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('../img/coverBlur.png');
    background-size: cover;
    background-repeat: no-repeat;
}     
.section_welcome img {
    opacity: 0.5;
}           
.section_welcome .container {
    padding-top: 190px;
    padding-bottom: 140px;
}
.section_welcome p {
    margin: 5px 0px 20px 0px;
    font-size: 20px;
}
.section_welcome .container h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
}    
.welcome_msg {
    font-weight: 400;
} 
.section_welcome .container button {
    width: 140px;
    height: 45px;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: 2px solid #07BEB8;
    border-radius: 100px;
    outline: none;
    transition: 0.1s;
} 
.section_welcome .container button:hover {
    font-size: 15px;
    background-color: #07BEB8;
    border: 0px;
    transition: 0.3s;
}
/* FIM DA SECTION_WELCOME */
/* INICIO DA SECTION_AboutUs */
.section_aboutUs {
    display: flex;
    text-align: center;
    color: #333333;
    background-color: whitesmoke;
}        
.section_aboutUs .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0px 80px 0px;
}   
.section_aboutUs .container .next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}    
.section_aboutUs .container .next .next-item {
    max-width: 210px;
    margin: 20px 25px 0px 25px;
}
.section_aboutUs .container .next .next-item img {
    width: 100px;
    margin: 0px 10px 0px 10px;
} 
.section_aboutUs .container .next .next-item .item-title {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin: 5px;
} 
.section_aboutUs .container .next .next-item p {
    font-size: 18px;
    text-align: center;
}
/* FIM DA SECTION_AboutUs*/
/* INICIO DA SECTION_AboutTecx */
.section_aboutTecx {
    display: flex;
    text-align: justify;
    color: #333333;
    background-color: white;
    padding: 80px 0px 80px 0px;
}       
.section_aboutTecx .container img {
    width: 40%;
    margin-top: 20px;
}     
.section_aboutTecx .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* FIM DA SECTION_AboutTecx */
/* INICIO DA SECTION_financial */    
.section_financial {
    display: flex;
    text-align: center;
    color: #333333;
    background-color: white;
}           
.section_financial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
}
.section_plans {
    display: flex;
    text-align: center;
    color: #333333;
    background-color: whitesmoke;
}
.section_plans .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
}  
.plans-container{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;    
}
.plans-container .card{
    display: flex;
    width: 250px;
    min-height: 350px;
    padding: 25px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;  
}
    .plans-container .card:hover{
    transition: 0.5s;
    box-shadow: 5px 5px 5px rgba(60, 60, 60, 0.1);
}
.plans-container .card p{
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
}
.plans-container .card img{
    width: 90px;
    margin: 15px 0px 15px 0px;
}
.plans-container .card p:nth-child(3){
    font-size: 19px;
    margin-top: 0px;
}
.plans-container .card p:nth-child(4){
    font-size: 17px;
    margin-top: 5px;
}
.plans-container .card p:nth-child(5){
    font-size: 16px;
    margin-top: 12px;
}
.plans-container .card p:nth-child(6){
    font-size: 15px;
    margin-top: 5px;
    font-style: italic;
}
.section_financial .container .calculator {
    margin-top: 10px;
}     
.section_financial .container .calculator-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 20px;
}     
.section_financial .container .calculator p {
    margin-top: 0;
}    
.section_financial .container .calculator .inputs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}         
.section_financial .container .calculator .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}   
.section_financial .container .calculator .input p {
    text-align: end;
    margin: 0 10px 0px 0px;
}
.section_financial .container .calculator input {
    width: 230px;
    height: 35px;
    padding-left: 15px;
    border: 0;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgba(60, 60, 60, 0.2);
    border-radius: 4px;
    outline: none;
}       
.section_financial .container .calculator button {
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-top: 30px;
    outline: none;
    color: gray;
    border: 2px solid #07BEB8;
    border-radius: 100px;
    background-color: transparent;
    transition: 0.1s;
}     
.section_financial .container .calculator button:hover {
    background-color: #07BEB8;
    color: white;
}  
.section_financial .container .calculator .message {
    max-width: 400px;
    margin: -25px 20px 0px 20px;
}
/* FIM DA SECTION_financial*/
/* INICIO DA SECTION_team */   
.section_team {
    display: flex;
    text-align: justify;
    color: #333333;
    background-color: whitesmoke;
}        
.section_team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 80px 0px;
}         
.section_team .container .photos {
    display: flex;
    max-width: 700px;
    font-size: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}         
.section_team .container .photos .photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px 50px 0px 50px;
}      
.section_team .container .photos .photo {
    margin-bottom: 50px;
}
.section_team .container .photos .photo p {
    margin: 5px 0px 0px 0px;
    text-align: center;
}
/* FIM DA SECTION_team */
/* Footer */   
footer {
    width: 100%;
    background-color: #07BEB8;
    color: #ffffff;
    margin-bottom: 0;
    padding: 60px 0px 60px 0px;
} 
footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
footer .containerTwo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}         
footer h1 {
    margin: 0;
    float: left;
}        
.footerDesc {
    width: 600px;
    text-align: justify;
}          
.footerDesc img {
    width: 120px;
    height: 110px;
}  
.titlesFooter {
    font-size: 23px;
    font-weight: 500;
}         
.contactInformations {
    margin-top: 45px;
    margin-bottom: 45px;
}        
.footerForm {
    width: 600px;
    min-width: 250px;
}     
.inputRow {
    display: flex;
    flex-direction: row;
}   
.footerForm input {
    width: 100%;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    outline: none;
}        
textarea {
    max-width: 100%;
    min-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    padding: 10px 0px 0px 15px;
    box-sizing: border-box;
    background-color: whitesmoke;
    border: none;
    border-radius: 4px;
    outline: none;
}        
.footerForm button {
    float: right;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    outline: none;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    background-color: transparent;
    transition: 0.1s;
} 
.footerForm button:hover {
    color: #07BEB8;
    border: 2px solid white;
    background-color: white;
    transition: 0.1s;
}       
.copryghtMessage {
    text-align: center;
}
/* FIM DO FOOTER */

/* INICIO FAQ */
.title_faq {
    font-size: 32px;
    font-weight: 30;
    margin: 0px;
    text-align: center;
}
.section_faq {
    background-color: white;
    padding: 80px 0px 80px 0px;
}
.container_faq {
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}
.container_faq h2 {
    color: black;
    position: relative;
    width: 23rem;
}
.container_faq h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 12px;
    width: 67px;
    height: 2px;
    background-color: black;
}
.accordion {
    width: 100%;
    padding: 0 5px;
    border: 2px solid #07BEB8;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    margin: 10px 0;
    align-items: center;
}
.accordion .icon_faq {
    margin: 0 10px 0 0;
    width: 15px;
    height: 15px;
    background: url(https://ecentiva.com.br/wp-content/uploads/2018/05/017-plus.png) no-repeat 8px 7px #07BEB8; 
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;  
}
.accordion h5 {
    font-size: 18px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #07BEB8; 
    transition: all .5s ease-in;
}
.active .icon_faq {
    background: url(https://img.icons8.com/ios/452/minus.png) 8px -25px #fff;
}
.active {
    background-color: #07BEB8;
    color: #fff;
}
.active h5 {
    color: #fff;
}
.painel { 
    padding: 0 15px;
    border-left: 1px solid #07BEB8;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0px;
    transition: all .5s ease-in;
}
/* FIM FAQ */